<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-12 mt-3">
                <div class="alert alert-success" role="alert">
                    Agendamento realizado com sucesso
                </div>
                <h1>Comprovante de Agendamento</h1>
                <h3>Nome: ({dados.nome})</h3>
                <h3>Endereço: ({dados.nome})</h3>
                <h3>Telefone: ({dados.nome})</h3>
                <h3>Data de Agendamnto: ({dados.nome})</h3>
            </div>
        </div>
    </div>
</body>
</html>